@font-face {
    font-family: 'Herokid';
    src:
        url('fonts/Herokid-Regular.woff2') format('woff2'),
        url('fonts/Herokid-Regular.woff') format('woff'),
        url('fonts/Herokid-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
a {
    list-style: none;
    text-decoration: none;
}

body {
    color: #000000;
    background-color: #060606;
    font-family: 'Herokid', sans-serif;
}

.container {
    max-width: 393px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

/* HEADER */

.header {
    background-color: transparent;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.header__time {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.header__time-icon {
    width: 13px;
    height: 13px;
}

.header__time-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.header__date {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.header__date-icon {
    width: 15px;
    height: 16px;
}

.header__date-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

/* PROMO */

/* PROMO */

.promo {
    color: #ffffff;
    background-color: #060606;
}

.promo__container {
    position: relative;
    overflow: hidden;
    background-color: transparent;
}

/* Orqa fondagi yorug'lik */
.promo__container::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 140px;
    transform: translateX(-50%);
    width: 380px;
    height: 500px;
    background: radial-gradient(
        ellipse,
        rgba(255, 223, 112, 0.6) 0%,
        rgba(255, 223, 112, 0.35) 25%,
        rgba(255, 223, 112, 0.15) 50%,
        rgba(255, 223, 112, 0.05) 70%,
        transparent 100%
    );
    filter: blur(60px);
    z-index: 0;
}

.promo__bg {
    position: absolute;
    top: 80px;
    z-index: 2;
    left: 0;
    mix-blend-mode: lighten;
}

.promo__bg2 {
    position: absolute;
    top: 15px;
    right: 0;
    z-index: 2;
    mix-blend-mode: lighten;
}

.promo__title {
    position: relative;
    z-index: 3;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.04em;
    color: #fff;
}

.promo__title span {
    font-size: 26px;
    color: #FFE8A3;
}

.promo__box {
    position: relative;
    padding-top: 13px;
    z-index: 3;
}

/* Qizning orqasidagi kuchli glow */
.promo__box::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 35px;
    transform: translateX(-50%);
    width: 240px;
    height: 320px;
    border-radius: 50%;
    background: radial-gradient(
        ellipse,
        rgba(255, 223, 112, 0.8) 0%,
        rgba(255, 223, 112, 0.4) 35%,
        rgba(255, 223, 112, 0.15) 60%,
        transparent 100%
    );
    filter: blur(40px);
    z-index: -1;
}

.promo__image {
    position: relative;
    z-index: 3;
    max-width: 237px;
    margin: 0 auto;
}

.promo__btn {
    top: -88px;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 27px 57px;
    color: #3c2c08;
    background: linear-gradient(
        90deg,
        #ffd287 0%,
        #ffe7ab 50%,
        #ffd287 100%
    );
    box-shadow:
        0 4px 0 #c6a457,
        0 0 30px rgba(255, 223, 112, 0.5);
    border: none;
    border-radius: 1520px;
    cursor: pointer;
    font-weight: 600;
    font-size: 21px;
    text-transform: uppercase;
    transition: all .4s ease;
}

.promo__btn:hover {
    scale: 1.05;
    box-shadow:
        0 4px 0 #c6a457,
        0 0 40px rgba(255, 255, 255, 0.5),
        inset 0 0 10px rgba(255, 255, 255, 0.3);
}

.promo__btn:active {
    scale: 1;
}

.promo__btn-icon {
    width: 17px;
    height: 21px;
}

/*  */
.promo__btn2 {
    color: #3c2c08;
    position: relative;
    z-index: 11111;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 27px 57px;
    background: linear-gradient(
        90deg,
        #ffd287 0%,
        #ffe7ab 50%,
        #ffd287 100%
    );
    box-shadow: 0px 4px 0px 0px #c6a457;
    border-radius: 1520px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 21px;
    text-transform: uppercase;
    transition: all 0.4s ease;
}

.promo__btn2:hover {
    scale: 1.1;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6), 
                inset 0 0 10px rgba(255, 255, 255, 0.4);
}

.promo__btn2:active {
    opacity: 0.6;
    scale: 1;
}

.promo__btn2-icon {
    width: 17px;
    height: 21px;
}
/* COUNTDOWN */

.countdown {
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: -71px;
    margin-bottom: 30px;
    text-align: center;
}

.countdown__time {
    font-weight: 600;
    font-size: 42px;
    margin-bottom: 8px;
}

.countdown__text {
    font-weight: 400;
    font-size: 15px;
}

.countdown__arrow {
    width: 36px;
    height: 73px;
}

/* BENEFITS */

/* BENEFITS */

.benefits {
    margin-bottom: 24px;
}

.benefits__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.benefits__item:not(:last-child) {
    margin-bottom: 12px;
}

.benefits__link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 13px 28px 13px 18px;
    background: linear-gradient(
        86.83deg,
        #0b0b0b -3.01%,
        #2c2c2c 54.19%,
        #191919 103.22%
    );
    border: 0.3px solid #ffe2a2;
    border-radius: 38px;
    color: #fff;
    transition: all .4s ease;
}

.benefits__link:hover {
    transform: scale(1.05);
    box-shadow:
        0 0 20px rgba(255, 255, 255, 0.6),
        inset 0 0 10px rgba(255, 255, 255, 0.4);
}

.benefits__icon {
    width: 34px;
    height: 34px;
    flex-shrink: 0;
}

.benefits__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
}

/* PROMO FOOTER */

.promo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 11px;
    margin-bottom: 27px;
}

.promo-footer__text {
    font-weight: 400;
    font-size: 18px;
}

.promo-footer__icon {
    width: 36px;
    height: 24px;
}
